<div id="page-wrapper">
    <div class="container-fluid" style="background-color:#add8e6">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Matkoza</h2>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-lg-12">
          <nav>
        <ul>
          <li><button onClick=getProductsBySex("male") >Male</button></li>
          <li><button onClick=getProductsBySex("female")>Female</button></li>
        </ul>
      </nav>
      <br></br>
      </div>
            <div class="col-lg-4">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      Products
                  </div>
                  <!-- /.panel-heading -->
                  <div class="panel-body">
                      <div class="table-responsive">
                          <table id="products-type-table" class="table table-striped table-bordered table-hover" id="dataTables-example">
                              <thead>
                                  <tr>
                                      <th>ID</th>
                                      <th>Name</th>
                                      <th>Type</th>
                                      <th>Price</th>
                                  </tr>
                              </thead>
                              <tbody>

                              </tbody>
                          </table>
                      </div>
                      <!-- /.table-responsive -->
                  </div>
                  <!-- /.panel-body -->
              </div>
              <!-- /.panel -->
          </div>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>

<!-- /#page-wrapper -->
<script type="text/javascript">
  function getProductsBySex(sex){

    $.ajax({
         url: "api/admin/products/"+sex,
         type: "GET",
         beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
         success: function(msg) {
           console.log(msg);
           var html = "";
           for(var i = 0; i < msg.length; i++){
             html += '<tr class="odd">'
                 +'<td>'+msg[i].id+'</td>'
                 +'<td>'+msg[i].name+'</td>'
                 +'<td>'+msg[i].type+'</td>'
                 +'<td>'+msg[i].price+'</td>';

           }

           $("#products-type-table tbody").html(html);

         }
      });
  }

</script>
